@model IEnumerable<GuarderPet.API.Data.Entities.Breed>

@{ ViewData["Title"] = "Index"; }

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12" style="align-items:center">
        <div class="panel panel-default">
            <div class="panel-heading" style="display: flex; justify-content: space-between">
                <h3 class="panel-title">Razas y tipos de mascotas</h3>
                <button class="btn btn-primary" style="margin: 0px; display:flex; justify-content: flex-end; background-color: #FF2626; border: none;">
                    <a asp-action="Create" style=" margin: 0; color: white; text-decoration: none;">Crear raza</a>
                </button>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BreedTittle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PetType.Type)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <br />
                    <tbody>
                        @foreach (var item in Model)
                        {
            <tr>
                <td style="width: 50vw">
                    @Html.DisplayFor(modelItem => item.BreedTittle)
                </td>
                <td style="width: 50vw">
                    @Html.DisplayFor(modelItem => item.PetType.Type)
                </td>
                <td style="display: flex">
                    <a asp-action="Edit" asp-route-id="@item.Id" style="align-items:center"><img src="~/images/edit.png" alt="edit" style="width:25px; margin-right: 5px" /></a>
                    <button class="deleteItem" style="border: none; background-color: transparent; margin: 0; outline:none; padding:0;" data-id="@item.Id" data-toggle="modal" data-target="#deleteDialog">
                        <img src="~/images/delete.png" alt="delete" style="width:25px" />
                    </button>
                </td>
            </tr>}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Breeds/Delete/', false);
        });</script>
}
