@model IEnumerable<GuarderPet.API.Data.Entities.PetType>

@{
    ViewData["Title"] = "Index";
}

<h1 style="display: flex; justify-content: center">Tipos de mascotas</h1>

<button class="btn btn-primary" style="margin: 0px; display:flex; justify-content: flex-end; background-color: #FF2626; border: none;">
    <a asp-action="Create" style=" margin: 0; color: black; text-decoration: none;">Crear nuevo tipo de mascota</a>
</button>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
